.WatchesAddForm {
  display: flex;
  margin-top: 2rem;
}

.WatchesAddForm div {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.WatchesAddForm div, .WatchesAddForm-Button {
  margin-left: 1rem;
}

.WatchesList {
  display: flex;
}

.WatchesList-Item {
  margin-left: 2rem;
  list-style: none;
}

.WatchesItem-Time {
  border: solid 2px red;
}